@keyframes scaleImg {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
}


.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square img {
    max-height: 90%;
    max-width: 90%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
    line-height: 70px;
    height: 70px;
    width: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;

    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.square img {
    transform: rotateY(180deg);
    transition: transform 0.3s;
    backface-visibility: hidden;
}

.square_active img {
    transform: rotateY(0deg);
}

.square_opened img {
    -webkit-animation: scaleImg 0.2s 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: scaleImg 0.2s 2;
    animation-direction: alternate;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    background-color: black;
}

.game-info {
    margin-left: 20px;
}

